<h1>Hello, Bloggers!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<h1></h1>
<%= link_to 'New Article', new_article_path %>
<h1></h1>

<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">The Featherie</a>
  sample application.
</p>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this article?' } %></td>
    </tr>
  <% end %>
</table>
